@charset "UTF-8";

@import "../lib/mq";
@import "../lib/var";

/*--------------------------------------
  個別投稿
---------------------------------------*/
body.single{
	@include mq{
	}
	.entry-footer{
		color: $maccha1;
		text-align: center;
		svg{
			width: 1.0em;
			height: 1.0em;
			fill: $brown1;
		}
		.cat-links, .tags-links{
			display: inline-flex;
			align-items: center;
			@include mq{
				font-size: 14px;
			}
			.screen-reader-text{
				display: none;
			}
			a{
				margin-left: 0.5em;
				color: inherit;
			}
		}
		.cat-links{
			margin-right: 2em;
		}
		.tags-links{
		}
		
	}
	.edit-link{
		display: none;
	}
	.entry-header{
		text-align: center;
		@include mq{
		}
		.entry-meta{
			line-height: 1.2;
			@include mq{
				font-size: 14px;
			}
			.screen-reader-text{
				display: none;
			}
			.entry-date{
				display: none;
			}
			.updated{
				&:before{
					content: "更新日：";
				}
			}
			.byline{
				display: none;
			}
		}
		.singleTtl{//記事タイトル
			padding: 2.4em 0 2.6em;
			color: $koke1;
			font-size: 40px;
			line-height: 1.4;
			@include mqL{
//				padding: 1.8em 0 2em;
				font-size: 36px;
			}
			@include mq{
				padding: 2.8em 0 3em;
				font-size: 26px;
			}
		}
	}
	#comments{//コメント
		margin-top: 100px;
		@include mq{
			margin-top: 50px;
		}
		.logged-in-as{
			display: none;
		}
	}
	.post-navigation{//記事下の前後記事ボタン
		margin-top: 100px;
		border-top: 1px solid $maccha1;
		@include mq{
			margin-top: 50px;
		}
		.screen-reader-text,
		.nav-subtitle{
			display: none;
		}
		svg{
			width: 1.0em;
			height: 0.8em;
		}
		.nav-links{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			&:before{
				content: "";
				background-color: $maccha1;
				width: 1px;
				height: 100%;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
			> div{
				max-width: 45%;
				a{
					display: block;
					padding: 0.5em 0.8em;
					transition: 0.3s;
					&:hover{
						background-color: $maccha1_a50;
					}
					.nav-title{
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
					.nav-title-icon-wrapper{
						margin-right: 1em;
					}
				}
				&.nav-next{
					a{
						.nav-title{
							justify-content: flex-end;
						}
						.nav-title-icon-wrapper{
							margin-right: 0;
							margin-left: 1em;
						}
					}
				}
			}
		}
	}
}
.postMainImg{
}
.bassui{
	margin-bottom: 50px;
	font-family: "黎ミン M";
	@include mq{
		font-size: 16px;
	}
}
//記事本文
.mySinglePost{
	font-family: "黎ミン M";
	font-size: 18px;
	line-height: 1.8;
	@include mq{
		font-size: 16px;
	}
	//基本タグ
	section{
		+ section{
			margin-top: 100px;
			@include mq{
				margin-top: 50px;
			}
		}
	}
  .tocWrap{
    margin-bottom: 100px;
    @include mqL{
      margin-bottom: 70px;
    }
    @include mq{
      margin-bottom: 50px;
    }
  	#toc_container{
      margin: 0 30px;
      font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
      font-size: 20px;
      text-align: center;
      @include mqL{
        margin: 0 20px;
      }
      @include mq{
        width: auto;
        margin: 0 -10px;
        font-size: 18px;
      }
      .toc_title{
        display: inline-block;
        background-color: $maccha1;
        margin: 0;
        padding: 0.3em 1.5em 0.1em;
        color: $brown1;
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 5px 5px 0 0;
        span{
          font-size: 0.8em;
          a{
            color: $brown1;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      &.contracted{//閉じてる
        .toc_title{
          padding-bottom: 0.3em;
          border-radius: 5px;
          span{
            a{
            }
          }
        }
      }
      .toc_list{
        background-color: rgba(255,255,255,0.9);
        padding: 30px 30px 20px;
        text-align: left;
        border: 3px solid $maccha1;
        @include mq{
          background-color: rgba(255,255,255,0.95);
          padding: 20px 10px;
          border-left: none;
          border-right: none;
        }
        a{
          display: block;
          padding-left: 2.5em;
          color: #000;
          text-decoration: none;
          position: relative;
        }
        > li{
          font-size: 1.2em;
          position: relative;
          @include mq{
            font-size: 1.0em;
          }
          .toc_number{
            display: block;
            width: 1.2em;
            height: 100%;
            padding-top: 0.15em;
            color: $maccha1;
            font-size: 1.4em;
            font-weight: bold;
            line-height: 1;
            border-right: 3px solid $maccha1;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
          }
          + li{
            margin-top: 0.5em;
          }
        }
        ul{//2階層
          padding-left: 2.5em;
          @include mq{
          }
          > li{
            > a{
              padding-left: 1.8em;
              > .toc_number{
                width: 1.5em;
                padding-top: 0.45em;
                font-size: 1.0em;
                border-right: none;
              }
            }
          }
          ul{//3階層
            padding-left: 1.9em;
            > li{
              > a{
                padding-left: 2.8em;
                > .toc_number{
                  width: 2.6em;
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
      &.fix{//固定
        width: 300px !important;
        margin: 0;
        font-size: 16px;
        text-align: center;
        position: fixed;
        right: 0;
        top: 40px;
        z-index: 2;
        @include mqL{
          width: 250px !important;
          font-size: 14px;
        }
        @include mq{
          width: auto !important;
          font-size: 10px;
          top: auto;
          bottom: 0;
          left: 0;
          right: 60px;
        }
        .toc_title{
          display: block;
          span{
            @include mq{
              font-size: 1.0em;
            }
            a{
            }
          }
        }
        .toc_list{
          padding: 10px;
          border: 2px solid $maccha1;
          border-right: none;
          @include mq{
            padding: 5px;
            border-right: 2px solid $maccha1;
            border-bottom: none;
            border-left: none;
          }
          a{
            padding-left: 1.8em;
          }
          > li{
            font-size: 1.2em;
            @include mq{
              font-size: 1.0em;
            }
            .toc_number{
              width: 1.0em;
              padding-top: 0.35em;
              font-size: 1.2em;
              border-right: 1px solid $maccha1;
            }
            + li{
              margin-top: 0.5em;
            }
          }
          ul{//2階層
            padding-left: 1.8em;
            @include mq{
            }
            > li{
              display: 0.9em;
              > a{
                padding-left:2.2em;
                > .toc_number{
                  width: 1.8em;
                  padding-top: 0.45em;
                  font-size: 1.0em;
                }
              }
            }
            ul{//3階層
              padding-left: 2.4em;
              > li{
                font-size: 0.8em;
                > a{
                  padding-left: 2.8em;
                  > .toc_number{
                    width: 2.7em;
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
	p{
		margin-bottom: 1.5em;
	}
	a{
		color: $maccha1;
		text-decoration: underline;
	}
	strong{
		font-family: "リュウミン B-KL";
	}
	em{
		font-style: italic;
	}
	//ページ内パーツ
	.ttl2{
		background-color: $maccha1;
		margin: 2em 0 1em;
		padding: 0.6em 0.8em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 36px;
		line-height: 1.4;
		position: relative;
		box-shadow: 0 0 20px 0px rgba(0,0,0,0.3) inset;
		@include mq{
			margin-left: -15px;
			margin-right: -15px;
			padding: 0.8em 0.5em 0.85em;
			font-size: 30px;
			line-height: 1.2;
		}
		&:before,
		&:after{
			content: "";
			display: block;
			border-top: 1px dashed #fff;
			width: 100%;
			position: absolute;
			left: 0;
		}
		&:before{
			top: 10px;
		}
		&:after{
			bottom: 10px;
		}
	}
	.ttl3{
		background-color: $maccha1_a50;
		margin: 1.5em 0 1em;
		padding: 0.5em 1.2em  0.55em 0.5em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 32px;
		line-height: 1.4;
		border-left: 0.5em solid $maccha1;
		position: relative;
		@include mq{
			margin-left: -10px;
			margin-right: -10px;
			font-size: 27px;
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.5em;
			border-color: #fff #fff $maccha1 $maccha1;
			top: 0;
			right: 0;
		}
	}
	.ttl4{
		background-color: $maccha1_a30;
		margin: 1.5em 0 1em;
		padding: 0.3em 0.5em 0.35em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 29px;
		line-height: 1.4;
		border-top: 1px solid $maccha1;
		border-bottom: 1px solid $maccha1;
		position: relative;
		@include mq{
			margin-left: -10px;
			margin-right: -10px;
			font-size: 24px;
		}
	}
	.ttl5{
		margin: 1.3em 0 1em;
		padding-left: 0.3em;
		padding-bottom: 0.2em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 26px;
		line-height: 1.4;
		border-bottom: 1px solid $maccha1;
		@include mq{
			margin-left: -10px;
			margin-right: -10px;
			font-size: 22px;
		}
	}
	.ttl6{
		margin: 1em 0;
		padding-left: 0.5em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 24px;
		line-height: 1.4;
		border-left: 5px solid $maccha1;
		@include mq{
			margin-left: -10px;
			margin-right: -10px;
			font-size: 20px;
		}
	}
	.mk1{//緑
		background: linear-gradient(
			to bottom,
			rgba(255,255,255,0) 0,
			rgba(255,255,255,0) 60%,
			rgba(173,255,47,1) 61%
		);
	}
	.mk2{//黄
		background: linear-gradient(
			to bottom,
			rgba(255,255,255,0) 0,
			rgba(255,255,255,0) 60%,
			rgba(255,255,0,1) 61%
		);
	}
	.mk3{//ピンク
		background: linear-gradient(
			to bottom,
			rgba(255,255,255,0) 0,
			rgba(255,255,255,0) 60%,
			rgba(255,105,180,1) 61%
		);
	}
	.mk4{//青
		background: linear-gradient(
			to bottom,
			rgba(255,255,255,0) 0,
			rgba(255,255,255,0) 60%,
			rgba(0,255,255,1) 61%
		);
	}
	.link1{
		color: #1a0dab;
		text-decoration: none;
    @include hvr;
		&:before{
			content: "";
			display: inline-block;
			width: 0.3em;
			height: 0.3em;
			margin-right: 0.3em;
			border-style: solid;
			border-width: 0.15em 0.15em 0 0;
			border-color: #1a0dab;
			transform: translate(0,-0.15em) rotate(45deg);
		}
	}
  .bqBox1{
    background-color: #f6f6f6;
    margin: 0 3.0em 1.5em;
    padding: 2.0em;
    border-left: 1px solid #a7d7f9;
    border-right: 1px solid #a7d7f9;
    position: relative;
    overflow: hidden;
    @include mq{
      margin: 0 2.0em 1.5em;
      padding: 1.0em;
    }
    &:before,
    &:after{
      color: #a7d7f9;
      font-size: 600%;
      line-height: 1em;
      font-family: tegaki;
      position: absolute;
      opacity: 0.4;
    }
    &:before{
      content: "“";
      top: 0.1em;
      left: -0.1em;
      @include mq{
        top: 0.05em;
        left: -0.2em;
      }
    }
    &:after {
      content: "”";
      bottom: -0.4em;
      right: 0em;
      @include mq{
        bottom: -0.5em;
        right: -0.1em;
      }
    }
    *:last-child{margin-bottom: 0;}
    blockquote{
      background: none;
      padding: 0;
      border-left: none;
      z-index: 1;
      &:before{content: normal;}
    }
    cite{
      display: block;
      margin-top: 0.5em;
      font-size: 0.9em;
      font-style: italic;
      text-align: right;
    }
  }
	.gaibuCiteBox1{
		color: #1a0dab;
		text-decoration: none;
    @include hvr;
    > div{
      margin-bottom: 0.5em;
    }
    > p{
      &:before{
        content: "";
        display: inline-block;
        width: 0.3em;
        height: 0.3em;
        margin-right: 0.3em;
        border-style: solid;
        border-width: 0.15em 0.15em 0 0;
        border-color: #1a0dab;
        transform: translate(0,-0.15em) rotate(45deg);
      }
    }
	}
	.ul1{
    margin: 0 1.5em 1.5em;
    @include mq{
      margin-left: 1.0em;
      margin-right: 0;
    }
		> li{
			background-color: $maccha1_a30;
			margin-bottom: 0.5em;
			padding: 0.5em 0.5em 0.5em 2.8em;
			position: relative;
			&:before{
				content: "";
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $maccha1;
				width: 2.0em;
				height: 100%;
				color: #fff;
				font-family: "Font Awesome 5 Free";
				font-size: 1.0em;
				font-weight: bold;
				line-height: 1;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&.is_angleR > li:before{
			content: "\f105";
			width: 1.3335em;
			font-size: 1.5em;
		}
		&.is_chk > li:before{content: "\f00c";}
		> ul{//2階層
			margin-left: 2.9em;
		}
	}
	.ul2{
		margin-bottom: 1.5em;
		> li{
			margin-bottom: 0.5em;
			padding-left: 1.4em;
			position: relative;
			&:before{
				content: "";
				display: block;
				background-color: $maccha1;
				width: 1.0em;
				height: 1.0em;
				border-radius: 50%;
				position: absolute;
				top: 0.4em;
				left: 0;
			}
		}
		> ul{//2階層
			margin-left: 1.4em;
		}
	}
	.ul3{
		margin-bottom: 1.5em;
		> li{
			margin-bottom: 0.5em;
			padding-left: 1.4em;
			position: relative;
			&:before{
				content: "";
				display: block;
				background-color: #fff;
				width: 0.2em;
				height: 0.2em;
				box-shadow: 0 0 0 0.2em $maccha1;
				border-radius: 50%;
				position: absolute;
				top: 0.85em;
				left: 0.4em;
			}
		}
		> ul{//2階層
			margin-left: 1.4em;
		}
	}
	.ol1{
    margin: 0 1.5em 1.5em;
    @include mq{
      margin-left: 1.0em;
      margin-right: 0;
    }
		> li{
			counter-increment: num1;
			background-color: $maccha1_a30;
			margin-bottom: 0.5em;
			padding: 0.5em 0.5em 0.5em 2.8em;
			position: relative;
			&:before{
				content: counter(num1);
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $maccha1;
				width: 1.0em;
				height: 100%;
				color: #fff;
        font-family: tegaki;
				font-size: 2.0em;
				line-height: 1;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		> ol{//2階層
			margin-left: 2.9em;
		}
	}
	.ol2{
		margin-bottom: 1.5em;
		> li{
			counter-increment: num2;
			padding-left: 2.0em;
			position: relative;
			&:before{
				content: counter(num2);
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $maccha1;
				width: 1.5em;
				height: 1.5em;
				color: #fff;
				font-weight: bold;
				text-align: center;
				line-height: 1;
				border-radius: 50%;
				position: absolute;
				top: 0.15em;
				left: 0;
			}
		}
		> ol{//2階層
			margin-left: 2.0em;
		}
	}
	.ol3{
		margin-bottom: 1.5em;
		> li{
			counter-increment: num3;
			padding-left: 1.2em;
			position: relative;
			&:before{
				content: counter(num3) ". ";
				color: $maccha1;
				font-size: 1.0em;
				font-weight: bold;
				line-height: 1;
				position: absolute;
				top: 0.35em;
				left: 0;
			}
		}
		> ol{//2階層
			margin-left: 1.2em;
		}
	}
	.dl1{
		margin-bottom: 1.5em;
		> dt{
			font-size: 1.1em;
			font-weight: bold;
		}
		> dd{
			margin-top: 0.3em;
			margin-left: 0.5em;
			padding-left: 0.5em;
			border-left: 2px solid $maccha1;
		}
	}
	.dlBox1{
		margin-bottom: 1.5em;
		padding: 0 3.0em;
		@include mq{
			padding: 0 0.5em;
		}
		> dl{
			padding: 0 1.0em 1.0em;
			border: 2px solid $maccha1;
			> dt{
        font-family: tegaki;
        font-size: 1.2em;
				span{
					background-color: $maccha1;
					display: inline-block;
					padding: 0.2em 1.0em;
					color: #fff;
					//font-weight: bold;
          .fa{
            margin-right: 0.5em;
          }
				}
			}
			> dd{
				padding-top: 0.8em;
				*:last-child{
					margin-bottom: 0;
				}
			}
		}
		&.is_L{//ラベル左
			> dl{
				> dt{
					text-align: left;
				}
				> dd{
				}
			}
		}
		&.is_C{//ラベル中央
			> dl{
				> dt{
					text-align: center;
				}
				> dd{
				}
			}
		}
		&.is_R{//ラベル右
			> dl{
				> dt{
					text-align: right;
				}
				> dd{
				}
			}
		}
		&.is_T{//ラベル上
			padding-top: 2.2em;
			> dl{
				> dt{
					margin-top: -2.2em;
					span{
						border-radius: 0.5em 0.5em 0 0;
					}
				}
				> dd{
					padding-top: 1.0em;
				}
			}
		}
		&.is_M{//ラベル上下中央
			padding-top: 1.1em;
			> dl{
				> dt{
					margin-top: -1.1em;
					span{
						border-radius: 0.5em;
					}
				}
				> dd{
				}
			}
		}
		&.is_B{//ラベル下
			> dl{
				> dt{
					span{
						border-radius: 0 0 0.5em 0.5em;
					}
				}
				> dd{
				}
			}
		}
	}
	.dlBox2{
		margin-bottom: 1.5em;
		padding: 0 3.0em;
		@include mq{
			padding: 0 0.5em;
		}
		> dl{
			padding: 3.0em 1.0em 1.0em;
			border: 2px solid $maccha1;
			position: relative;
			> dt{
				background-color: $maccha1;
				display: inline-block;
				padding: 0.2em 1.0em;
				color: #fff;
				font-size: 0.8em;
				font-weight: bold;
				position: absolute;
				top: 1.0em;
				&:before,
				&:after{
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-color: $koke1 transparent transparent;
					position: absolute;
					bottom: -0.9em;
				}
				&:before{
					border-width: 1.0em 0 0 1.5em;
					left: 0;
				}
				&:after{
					border-width: 1.0em 1.5em 0 0;
					right: 0;
				}
			}
			> dd{
				*:last-child{
					margin-bottom: 0;
				}
			}
		}
		&.is_L{//ラベル左
			> dl{
				> dt{
					left: -1.5em;
					&:before{
						content: "";
					}
				}
				> dd{
				}
			}
		}
		&.is_C{//ラベル中央
			> dl{
				> dt{
					text-align: center;
					left: -1.5em;
					right: -1.5em;
					&:before,
					&:after{
						content: "";
					}
				}
				> dd{
				}
			}
		}
		&.is_R{//ラベル右
			> dl{
				> dt{
					right: -1.5em;
					&:after{
						content: "";
					}
				}
				> dd{
				}
			}
		}
	}
	.tbl1{
		width: auto;
		margin-bottom: 1.5em;
		tr{
			border-bottom: none;
		}
		th,
		td{
			padding-top: 0.2em;
			padding-bottom: 0.2em;
		}
		th{
			padding-right: 0.8em;
			padding-left: 0.8em;
			font-weight: bold;
			text-align: center;
		}
		td{
			padding-right: 0.8em;
		}
		thead{
			background-color: $maccha1;
			color: #fff;
			tr{
				+ tr{
					border-top: 1px solid $brown1;
				}
			}
			th,
			td{
				padding-top: 0.3em;
				padding-bottom: 0.3em;
			}
			th{
				border-bottom: none;
			}
		}
		tbody{
			tr{
				+ tr{
					border-top: 1px solid $maccha1;
				}
			}
			th{
				color: $maccha1;
			}
		}
		tfoot{
			background-color: $brown1;
			color: #fff;
			tr{
				+ tr{
					border-top: 1px solid $maccha1;
				}
			}
		}
	}
	//クラスタグ


}

