@charset "UTF-8";

@import "../lib/mq";
@import "../lib/var";

/*--------------------------------------
  個別投稿
---------------------------------------*/
body.single{
	@include mq{
	}
	.entry-footer{
		color: $maccha1;
		text-align: center;
		svg{
			width: 1.0em;
			height: 1.0em;
			fill: $maccha1;
		}
		.cat-links, .tags-links{
			display: inline-flex;
			align-items: center;
			font-size: 10px;
			.screen-reader-text{
				display: none;
			}
			a{
				margin-left: 0.5em;
				color: inherit;
			}
		}
		.cat-links{
			margin-right: 2em;
		}
		.tags-links{
		}
		
	}
	.edit-link{
		display: none;
	}
	.entry-header{
		text-align: center;
		@include mq{
			padding-bottom: 20px;
		}
		.entry-meta{
			font-size: 12px;
			@include mq{
				font-size: 10px;
			}
			.entry-date{
			}
			.updated{
				margin-left: 1.5em;
				&:before{
					content: "更新日：";
				}
			}
			.byline{
				display: none;
			}
		}
		.singleTtl{//記事タイトル
			padding: 1.8em 0 2em;
			color: $koke1;
			font-size: 40px;
			line-height: 1.4;
			@include mqL{
				font-size: 36px;
			}
			@include mq{
				padding: 1.0em 0 1em;
				font-size: 26px;
			}
		}
	}
	#comments{//コメント
		margin-top: 100px;
		@include mq{
			margin-top: 50px;
		}
		.logged-in-as{
			display: none;
		}
	}
	.post-navigation{//記事下の前後記事ボタン
		margin-top: 100px;
		border-top: 1px solid $maccha1;
		@include mq{
			margin-top: 50px;
		}
		.screen-reader-text,
		.nav-subtitle{
			display: none;
		}
		svg{
			width: 1.0em;
			height: 0.8em;
		}
		.nav-links{
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			&:before{
				content: "";
				background-color: $maccha1;
				width: 1px;
				height: 100%;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
			> div{
				max-width: 45%;
				a{
					display: block;
					padding: 0.5em 0.8em;
					transition: 0.3s;
					&:hover{
						background-color: $maccha1_a50;
					}
					.nav-title{
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
					.nav-title-icon-wrapper{
						margin-right: 1em;
					}
				}
				&.nav-next{
					a{
						.nav-title{
							justify-content: flex-end;
						}
						.nav-title-icon-wrapper{
							margin-right: 0;
							margin-left: 1em;
						}
					}
				}
			}
		}
	}
}
.postMainImg{
}
.bassui{
	margin-bottom: 50px;
	font-family: "黎ミン M";
	@include mq{
		font-size: 16px;
	}
}
//記事本文
.mySinglePost{
	font-family: "黎ミン M";
	font-size: 18px;
	line-height: 1.8;
	@include mq{
		font-size: 16px;
	}
	//基本タグ
	section{
		+ section{
			margin-top: 100px;
			@include mq{
				margin-top: 50px;
			}
		}
	}
	h2{
		background-color: $maccha1;
		margin: 2em -10px 1em;
		padding: 0.6em 0.8em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 36px;
		line-height: 1.4;
		position: relative;
		box-shadow: 0 0 20px 0px rgba(0,0,0,0.3) inset;
		@include mq{
			font-size: 30px;
			padding: 0.8em 0.5em 0.85em;
		}
		&:before,
		&:after{
			content: "";
			display: block;
			border-top: 1px dashed #fff;
			width: 100%;
			position: absolute;
			left: 0;
		}
		&:before{
			top: 10px;
		}
		&:after{
			bottom: 10px;
		}
	}
	h3{
		background-color: $maccha1_a50;
		margin: 1.5em -10px 1em;
		padding: 0.5em 1.2em  0.55em 0.5em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 32px;
		line-height: 1.4;
		border-left: 0.5em solid $maccha1;
		position: relative;
		@include mq{
			font-size: 27px;
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.5em;
			border-color: #fff #fff $maccha1 $maccha1;
			top: 0;
			right: 0;
		}
	}
	h4{
		background-color: $maccha1_a30;
		margin: 1.5em -10px 1em;
		padding: 0.5em 0.5em 0.55em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 30px;
		line-height: 1.4;
		border-top: 1px solid $maccha1;
		border-bottom: 1px solid $maccha1;
		position: relative;
		@include mq{
			font-size: 25px;
		}
	}
	h5{
		margin: 1.5em -10px 1em;
		padding-left: 0.3em;
		padding-bottom: 0.2em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 26px;
		line-height: 1.4;
		border-bottom: 1px solid $maccha1;
		@include mq{
			font-size: 22px;
		}
	}
	h6{
		margin: 1em -10px;
		padding-left: 0.5em;
		color: $brown1;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 24px;
		line-height: 1.4;
		border-left: 5px solid $maccha1;
		@include mq{
			font-size: 20px;
		}
	}
	p{
		margin-bottom: 1.5em;
	}
	strong{
		font-family: "リュウミン B-KL";
	}
	em{
		font-style: italic;
	}
	mark{
		background-color: #ff0;
	}
	//ページ内パーツ
	.ul1{
		margin-bottom: 1.5em;
		li{
			position: relative;
			margin-bottom: 0.5em;
			padding-left: 1em;
			&:before{
				position: absolute;
				top: 0.6em;
				left: 0;
			}
		}
		> li{
			&:before{
				content: "";
				display: block;
				background-color: $maccha1;
				width: 0.6em;
				height: 0.6em;
				border-radius: 50%;
			}
		}
		ul{
			margin-left: 1em;
			> li{
				&:before{
					content: "";
					display: block;
					background-color: #fff;
					width: 0.4em;
					height: 0.4em;
					border: 0.2em solid $maccha1;
					border-radius: 50%;
					position: absolute;
					top: 0.6em;
					left: 0;
				}
			}
			ul{
				> li{
					&:before{
						content: "";
						display: block;
						width: 0.2em;
						height: 0.2em;
						border-radius: 50%;
						position: absolute;
						top: 0.8em;
						left: 0;
					}
				}
			}
		}
	}
	.ol1{
		margin-bottom: 1.5em;
		li{
			margin-bottom: 0.5em;
			padding-left: 1.6em;
			position: relative;
			&:before{
				line-height: 1;
				position: absolute;
				top: 0.2em;
				left: 0;
			}
		}
		> li{
			counter-increment: num1;
			&:before{
				content: counter(num1) ". ";
				color: $maccha1;
				font-size: 1.2em;
				font-weight: bold;
			}
		}
		ol{
			margin-left: 1.6em;
			> li{
				counter-increment: num2;
				&:before{
					content: counter(num2);
					color: #000;
					width: 1.5em;
					height: 1.3em;
					padding-top: 0.2em;
					font-size: 0.8em;
					font-weight: bold;
					text-align: center;
					border: 2px solid $koke1;
					border-radius: 50%;
				}
			}
			ol{
				> li{
					counter-increment: num3;
					&:before{
						content: counter(num3) "-";
						color: $brown1;
						font-size: 1em;
						font-weight: bold;
						border: none;
						border-radius: 0;
						top: 0.3em;
					}
				}
			}
		}
	}
	.dl1{
		margin-bottom: 1.5em;
		> dt{
			font-size: 1.1em;
			font-weight: bold;
		}
		> dd{
			margin-top: 0.3em;
			margin-left: 0.5em;
			padding-left: 0.5em;
			border-left: 2px solid $maccha1;
			position: relative;
		}
	}
	.tbl1{
		width: auto;
		margin-bottom: 1.5em;
		tr{
			border-bottom: none;
		}
		th,
		td{
			padding-top: 0.2em;
			padding-bottom: 0.2em;
		}
		th{
			padding-right: 0.8em;
			padding-left: 0.8em;
			font-weight: bold;
			text-align: center;
		}
		td{
			padding-right: 0.8em;
		}
		thead{
			background-color: $maccha1;
			color: #fff;
			tr{
				+ tr{
					border-top: 1px solid $brown1;
				}
			}
			th,
			td{
				padding-top: 0.3em;
				padding-bottom: 0.3em;
			}
			th{
				border-bottom: none;
			}
		}
		tbody{
			tr{
				+ tr{
					border-top: 1px solid $maccha1;
				}
			}
			th{
				color: $maccha1;
			}
		}
		tfoot{
			background-color: $brown1;
			color: #fff;
			tr{
				+ tr{
					border-top: 1px solid $maccha1;
				}
			}
		}
	}
	.pageIndex{
		width: 80%;
		margin: auto;
		font-family: tegaki, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif" !important;
		font-size: 16px;
		text-align: center;
		@include mq{
			width: auto;
		}
		>dt{
			display: inline-block;
			background-color: $maccha1;
			padding: 0.3em 1.5em 0.1em;
			color: $brown1;
			color: #fff;
			font-size: 1.2em;
			font-weight: bold;
			border-radius: 5px 5px 0 0;
		}
		>dd{
			padding: 20px 30px;
			text-align: left;
			border: 3px solid $maccha1;
			@include mq{
				padding: 10px;
				border-left: none;
				border-right: none;
			}
			a{
				display: block;
			}
			> ol{
				> li{
					+ li{
						margin-top: 3px;
					}
					> a{
						background-color: $maccha1;
						padding: 0.1em 0.3em;
						color: #000;
					}
				}
				> ol{
					padding-left: 1.0em;
					> li{
						> a{
							color: $maccha1;
						}
					}
					> ol{
						padding-left: 1.0em;
						> li{
							> a{
								color: $brown1;
							}
						}
					}
				}
			}
		}
	}
	//クラスタグ


}

