.l-spFixBg
header.l-header
	.hdIn
		.colL
			h1.hdLogo
				a
					img(src="assets/images/header_logo.png" alt="")
		.colR
			.in
				nav.hdNav
					a.clkScrl.library(href="#scrlLibrary")
						img(src="assets/images/header_library.png" alt="")
						span るるぶライブラリー
					a.clkScrl.data(href="#scrlData")
						img(src="assets/images/header_data.png" alt="")
						span るるぶDATA
				a.hdInq(href="rurubudata@rurubu.ne.jp")
					img(src="assets/images/header_contact.png" alt="")
					span お問い合わせ
		a.spBtnMenu(href="#")
			.border
			.border
			.border
			span MENU
			