@charset "UTF-8";
/* CSS Document */
/* リセット
---------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}

fieldset, img {
  border: 0;
  vertical-align: top;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

br {
  letter-spacing: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/* ページ共通
---------------------------------------------------- */
html {
  color: #000;
  font-size: 7.94461px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 1210px) {
  html {
    font-size: 0.65658vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 2.66667vw;
  }
}

body {
  margin: 0;
  padding: 0;
  font: 10px/1.4 "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

@media screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

*:first-child + html body {
  font-size: 87%;
}

hr {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  /* 新しい要素を作る */
  display: block;
  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*/
  /*/
  height: auto;
  overflow: hidden;
  /**/
}

.clear {
  clear: both;
}

.none {
  margin: 0;
  padding: 0;
  border: none;
}

/*--------------------------------------
 レイアウト
---------------------------------------*/
.l-spFixBg {
  display: none;
}

@media screen and (max-width: 767px) {
  .l-spFixBg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .l-header {
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
}

.l-header .hdIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26.2172px 67.52915px 19.06706px 52.4344px;
}

@media screen and (max-width: 1210px) {
  .l-header .hdIn {
    padding: 1.31316vw;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdIn {
    display: block;
    padding: 0;
  }
}

.l-header .hdIn .colL {
  flex-shrink: 0;
  width: 286.80029px;
  margin-right: 77.85714px;
}

@media screen and (max-width: 1210px) {
  .l-header .hdIn .colL {
    width: 23.7025vw;
    margin-right: 6.43447vw;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdIn .colL {
    width: auto;
    padding: 6.13333vw 5.33333vw 6.4vw;
    margin-right: 0;
  }
}

.l-header .hdIn .colR {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .l-header .hdIn .colR {
    width: auto;
    position: relative;
  }
}

.l-header .hdIn .colR .in {
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .l-header .hdIn .colR .in {
    display: flex !important;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdIn .colR .in {
    display: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdIn .colR .in a {
    border-top: 1px solid #e2e2e2;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdLogo {
    width: 50.48vw;
  }
}

.l-header .hdLogo a {
  display: block;
  transition: 0.3s;
}

.l-header .hdLogo a:hover {
  opacity: 0.7;
}

.l-header .hdNav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .l-header .hdNav {
    display: block;
    font-size: 2.0rem;
  }
}

.l-header .hdNav a {
  display: flex;
  align-items: flex-start;
  transition: 0.3s;
}

.l-header .hdNav a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .l-header .hdNav a {
    align-items: center;
    height: 21.33333vw;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdNav a.library {
    padding: 0 5.33333vw 0 6.13333vw;
  }
}

.l-header .hdNav a.library img {
  width: 1.16em;
}

@media screen and (max-width: 767px) {
  .l-header .hdNav a.library img {
    width: 7.73333vw;
  }
}

.l-header .hdNav a.library span {
  padding: 0.12em 0 0 0.4em;
}

@media screen and (max-width: 1000px) {
  .l-header .hdNav a.library span {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdNav a.library span {
    padding: 0.8vw 0 0 3.46667vw;
  }
}

.l-header .hdNav a.data {
  margin-left: 63.55685px;
}

@media screen and (max-width: 1210px) {
  .l-header .hdNav a.data {
    margin-left: 5.25263vw;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdNav a.data {
    margin-left: 0;
    padding: 0 5.33333vw 0 7.2vw;
  }
}

.l-header .hdNav a.data img {
  width: 0.84em;
}

@media screen and (max-width: 767px) {
  .l-header .hdNav a.data img {
    width: 5.6vw;
  }
}

.l-header .hdNav a.data span {
  padding: 0.12em 0 0 0.48em;
}

@media screen and (max-width: 1000px) {
  .l-header .hdNav a.data span {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .l-header .hdNav a.data span {
    padding: 0.8vw 0 0 4.8vw;
  }
}

.l-header .hdInq {
  display: flex;
  align-items: flex-start;
  background-color: #ededed;
  padding: 1em 2.2em;
  font-size: 2.0rem;
  line-height: 1;
  border-radius: 79.44606px;
  transition: 0.3s;
}

.l-header .hdInq:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .l-header .hdInq {
    justify-content: center;
    align-items: center;
    height: 21.33333vw;
    padding: 0 2.66667vw;
    border-radius: 0;
  }
}

.l-header .hdInq img {
  width: 1.15em;
}

.l-header .hdInq span {
  padding-left: 0.55em;
}

.l-header .spBtnMenu {
  display: none;
}

@media screen and (max-width: 767px) {
  .l-header .spBtnMenu {
    display: block;
    line-height: 1;
    position: absolute;
    top: 4vw;
    right: 4vw;
  }
  .l-header .spBtnMenu .border {
    background-color: #bdbdbd;
    width: 10.4vw;
    height: 1.06667vw;
    border-radius: 10px;
  }
  .l-header .spBtnMenu .border + .border {
    margin-top: 1.86667vw;
  }
  .l-header .spBtnMenu span {
    display: block;
    margin-top: 1.46667vw;
    color: #707070;
    font-size: 1.2rem;
    text-align: center;
  }
}

.l-main {
  display: block;
  padding-bottom: 197.8207px;
}

@media screen and (max-width: 1210px) {
  .l-main {
    padding-bottom: 16.34882vw;
  }
}

@media screen and (max-width: 767px) {
  .l-main {
    padding-bottom: 32vw;
  }
}

.l-footer {
  background-color: #bdbdbd;
  line-height: 1;
  text-align: center;
}

.l-footer p {
  padding: 28.60058px 0 23.03936px;
  color: #fff;
  font-family: HelveticaNeue, Helvetica;
  font-size: 2.5rem;
}

@media screen and (max-width: 1210px) {
  .l-footer p {
    padding: 2.36368vw 0 1.90408vw;
  }
}

@media screen and (max-width: 767px) {
  .l-footer p {
    padding: 4.53333vw 0 4vw;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
  }
}

.spToTop {
  display: none;
}

@media screen and (max-width: 767px) {
  .spToTop {
    display: block;
  }
}

.spToTop a {
  display: none;
}

@media screen and (max-width: 767px) {
  .spToTop a {
    position: fixed;
    width: 19.2vw;
    height: 19.2vw;
    bottom: 3.2vw;
    right: 3.2vw;
  }
}

/*--------------------------------------
 コンテンツ
---------------------------------------*/
.mainZone {
  color: #fff;
  text-align: center;
  position: relative;
}

.mainZone .catch {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .mainZone .catch {
    position: static;
  }
}

.mainZone .catch:before {
  content: "";
  display: block;
  background: url(../images/header_img.png) center bottom no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(2.9px);
  -moz-filter: blur(2.9px);
  -ms-filter: blur(2.9px);
  filter: blur(2.9px);
}

@media screen and (max-width: 767px) {
  .mainZone .catch:before {
    content: normal;
  }
}

.mainZone .catch p {
  background-color: rgba(0, 0, 0, 0.16);
  padding: 23.83382px 11.91691px 17.47813px;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.7037;
  position: relative;
}

@media screen and (max-width: 1210px) {
  .mainZone .catch p {
    padding: 1.96974vw 0.98487vw 1.44447vw;
  }
}

@media screen and (max-width: 767px) {
  .mainZone .catch p {
    background-color: transparent;
    padding: 5.33333vw 5.33333vw 0;
    color: #000;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
    line-height: 1.73333;
  }
}

.pageNavZone {
  padding: 106.45773px 0 154.91983px;
}

@media screen and (max-width: 1210px) {
  .pageNavZone {
    padding: 8.79816vw 0 12.80329vw;
  }
}

@media screen and (max-width: 767px) {
  .pageNavZone {
    padding: 6.93333vw 0 19.2vw;
  }
}

.pageNavZone .u-inner {
  max-width: 1083.64431px;
}

@media screen and (max-width: 1210px) {
  .pageNavZone .u-inner {
    max-width: 89.55738vw;
  }
}

@media screen and (max-width: 767px) {
  .pageNavZone .u-inner {
    max-width: none;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.pageNavZone nav {
  display: flex;
  justify-content: space-between;
}

.pageNavZone nav a {
  display: block;
  background-color: #f5f5f5;
  width: 512.42711px;
  border-radius: 23.83382px;
  box-shadow: 0 2.38338px 4.76676px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  transition: 0.3s;
}

.pageNavZone nav a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1210px) {
  .pageNavZone nav a {
    width: 42.34935vw;
    border-radius: 1.96974vw;
    box-shadow: 0 0.19697vw 0.39395vw rgba(0, 0, 0, 0.16);
  }
}

@media screen and (max-width: 767px) {
  .pageNavZone nav a {
    width: 45.33333vw;
    border-radius: 3.73333vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.16);
  }
}

.pageNavZone nav a dl {
  text-align: center;
}

.pageNavZone nav a dt {
  padding: 23.03936px 7.94461px 16.68367px;
  color: #fff;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 1.33333;
}

@media screen and (max-width: 1210px) {
  .pageNavZone nav a dt {
    padding: 1.90408vw 0.65658vw 1.37882vw;
  }
}

@media screen and (max-width: 767px) {
  .pageNavZone nav a dt {
    padding: 2.48vw 1.33333vw 2.24vw;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0;
  }
}

.pageNavZone nav a dd {
  padding: 77.06268px 0px 79.44606px;
}

@media screen and (max-width: 1210px) {
  .pageNavZone nav a dd {
    padding: 6.36882vw 0.65658vw 6.56579vw;
  }
}

@media screen and (max-width: 767px) {
  .pageNavZone nav a dd {
    padding: 4.53333vw 2.66667vw 5.6vw;
  }
}

.pageNavZone nav a dd img {
  width: auto;
  height: 49.25656px;
}

@media screen and (max-width: 1210px) {
  .pageNavZone nav a dd img {
    height: 4.07079vw;
  }
}

@media screen and (max-width: 767px) {
  .pageNavZone nav a dd img {
    height: 4.48vw;
  }
}

.pageNavZone nav a.library dt {
  background-color: #ca2764;
}

.pageNavZone nav a.data dt {
  background-color: #6cc7d3;
}

.detailZone {
  padding-bottom: 39.72303px;
}

@media screen and (max-width: 1210px) {
  .detailZone {
    padding-bottom: 3.2829vw;
  }
}

@media screen and (max-width: 767px) {
  .detailZone {
    padding-bottom: 9.33333vw;
  }
}

.detailZone h2 {
  margin-bottom: 63.55685px;
}

@media screen and (max-width: 1210px) {
  .detailZone h2 {
    margin-bottom: 5.25263vw;
  }
}

@media screen and (max-width: 767px) {
  .detailZone h2 {
    margin-bottom: 17.33333vw;
  }
}

@media screen and (max-width: 767px) {
  .detailZone h2 .u-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.detailZone h3 {
  margin-bottom: 31.77843px;
}

@media screen and (max-width: 1210px) {
  .detailZone h3 {
    margin-bottom: 2.62632vw;
  }
}

@media screen and (max-width: 767px) {
  .detailZone h3 {
    margin-bottom: 6.05333vw;
  }
}

.detailZone h3 img {
  width: auto;
  height: 47.66764px;
}

@media screen and (max-width: 1210px) {
  .detailZone h3 img {
    height: 3.93947vw;
  }
}

@media screen and (max-width: 767px) {
  .detailZone h3 img {
    height: 8vw;
  }
}

.detailZone section {
  padding-bottom: 111.22449px;
}

@media screen and (max-width: 1210px) {
  .detailZone section {
    padding-bottom: 9.19211vw;
  }
}

@media screen and (max-width: 767px) {
  .detailZone section {
    padding-bottom: 20vw;
  }
}

.about .lead {
  margin-bottom: 67.52915px;
  font-size: 2.5rem;
  line-height: 1.72;
}

@media screen and (max-width: 1210px) {
  .about .lead {
    margin-bottom: 5.58092vw;
  }
}

@media screen and (max-width: 767px) {
  .about .lead {
    margin-bottom: 10.13333vw;
    color: #323232;
    font-size: 1.8rem;
    line-height: 1.72222;
  }
}

.about ol {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .about ol {
    display: block;
  }
}

.about ol > li {
  width: 309.04519px;
}

@media screen and (max-width: 1210px) {
  .about ol > li {
    width: 25.54092vw;
  }
}

@media screen and (max-width: 767px) {
  .about ol > li {
    width: auto;
  }
  .about ol > li + li {
    margin-top: 11.73333vw;
  }
}

.about ol > li .img {
  margin-bottom: 28.60058px;
}

@media screen and (max-width: 1210px) {
  .about ol > li .img {
    margin-bottom: 2.36368vw;
  }
}

@media screen and (max-width: 767px) {
  .about ol > li .img {
    margin-bottom: 4.16vw;
  }
}

.about ol > li .img img {
  width: 100%;
}

.about ol > li .txt {
  color: #707070;
  font-size: 2.5rem;
  line-height: 1.72;
}

@media screen and (max-width: 767px) {
  .about ol > li .txt {
    font-size: 1.6rem;
    line-height: 1.6875;
  }
}

.scene ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .scene ul {
    display: block;
  }
}

.scene ul > li {
  width: 503.68805px;
}

@media screen and (max-width: 1210px) {
  .scene ul > li {
    width: 41.62711vw;
  }
}

@media screen and (max-width: 767px) {
  .scene ul > li {
    width: auto;
  }
  .scene ul > li + li {
    margin-top: 10.66667vw;
  }
}

.scene ul > li .img {
  margin-bottom: 30.1895px;
}

@media screen and (max-width: 1210px) {
  .scene ul > li .img {
    margin-bottom: 2.495vw;
  }
}

@media screen and (max-width: 767px) {
  .scene ul > li .img {
    margin-bottom: 5.6vw;
  }
}

.scene ul > li .txt {
  color: #707070;
  font-size: 2.5rem;
  line-height: 1.72;
}

@media screen and (max-width: 767px) {
  .scene ul > li .txt {
    font-size: 1.6rem;
    line-height: 1.6875;
  }
}

@media screen and (max-width: 767px) {
  .info .u-inner {
    padding-left: 2.66667vw;
    padding-right: 2.66667vw;
  }
}

.info table {
  width: 100%;
  text-align: center;
  border-left: 1px solid #585858;
}

@media screen and (max-width: 767px) {
  .info {
    display: block;
    width: auto;
  }
}

.info thead {
  background-color: #585858;
  color: #fff;
  font-size: 2.5rem;
}

@media screen and (max-width: 767px) {
  .info thead {
    display: none;
  }
}

.info thead th {
  padding: 11.91691px 23.83382px;
  font-weight: bold;
  text-align: inherit;
  border-right: 1px solid #fff;
  box-sizing: border-box;
}

@media screen and (max-width: 1210px) {
  .info thead th {
    padding: 0.98487vw 1.96974vw;
  }
}

.info thead th:last-child {
  border-right: none;
}

.library .info thead th:nth-child(1) {
  width: 215.29883px;
}

.library .info thead th:nth-child(2) {
  width: 171.6035px;
}

@media screen and (max-width: 1210px) {
  .library .info thead th:nth-child(1) {
    width: 17.79329vw;
  }
  .library .info thead th:nth-child(2) {
    width: 14.18211vw;
  }
}

.info tbody {
  font-size: 2.1rem;
  line-height: 1.71429;
}

@media screen and (max-width: 767px) {
  .info tbody {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .info tbody tr {
    display: block;
    width: 50%;
    border-bottom: 1px solid #585858;
    border-right: 1px solid #585858;
    box-sizing: border-box;
  }
}

.info tbody th, .info tbody td {
  padding: 15.88921px 19.86152px;
  color: #707070;
  border-bottom: 1px solid #585858;
  border-right: 1px solid #585858;
  box-sizing: border-box;
}

.info tbody th:last-child, .info tbody td:last-child {
  text-align: left;
}

@media screen and (max-width: 1210px) {
  .info tbody th, .info tbody td {
    padding: 1.31316vw 1.96974vw;
  }
}

@media screen and (max-width: 767px) {
  .info tbody th, .info tbody td {
    display: block;
    border-bottom: none;
    border-right: none;
  }
}

@media screen and (max-width: 767px) {
  .info tbody th {
    background-color: #585858;
    padding: 1.33333vw 2.66667vw;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .info tbody td {
    padding: 2.66667vw 2.13333vw;
    font-size: 1.2rem;
  }
  .info tbody td + td {
    border-top: 1px dotted #585858;
  }
}

.info tbody .spTxt {
  display: none;
}

@media screen and (max-width: 767px) {
  .info tbody .spTxt {
    display: inline-block;
    margin-right: 1.6vw;
    vertical-align: middle;
  }
}

.info tbody div {
  display: inline-block;
  vertical-align: middle;
}

.info tbody div.circle {
  width: 21.45044px;
  height: 21.45044px;
  border: 1px solid #c11b1b;
  border-radius: 50%;
}

@media screen and (max-width: 1210px) {
  .info tbody div.circle {
    width: 1.77276vw;
    height: 1.77276vw;
  }
}

@media screen and (max-width: 767px) {
  .info tbody div.circle {
    width: 3.78667vw;
    height: 3.78667vw;
    border-width: 0.53333vw;
  }
}

.info tbody div.border {
  width: 16.68367px;
  border-top: 2.38338px solid #707070;
}

@media screen and (max-width: 1210px) {
  .info tbody div.border {
    width: 1.37882vw;
    border-top-width: 0.19697vw;
  }
}

@media screen and (max-width: 767px) {
  .info tbody div.border {
    width: 4.8vw;
    border-top-width: 0.53333vw;
  }
}

.info .note {
  margin-top: 15.88921px;
  color: #707070;
  text-align: right;
  font-size: 1.6rem;
}

@media screen and (max-width: 1210px) {
  .info .note {
    margin-top: 1.31316vw;
  }
}

@media screen and (max-width: 767px) {
  .info .note {
    margin-top: 1.81333vw;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.72727;
  }
}

@media screen and (max-width: 767px) {
  .topics .u-inner {
    padding-left: 2.66667vw;
    padding-right: 2.66667vw;
  }
}

.topics .topicsList {
  display: flex;
  flex-wrap: wrap;
}

.topics .topicsList > a {
  display: block;
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 34.95627px;
  border: 10px solid #fff;
  box-shadow: 0 2.38338px 4.76676px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.topics .topicsList > a:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1210px) {
  .topics .topicsList > a {
    margin-bottom: 2.88895vw;
    border-width: 0.65658vw;
    box-shadow: 0 0.19697vw 0.39395vw rgba(0, 0, 0, 0.16);
  }
}

@media screen and (max-width: 767px) {
  .topics .topicsList > a {
    width: 49%;
    margin-right: 2%;
    border-width: 1.33333vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.16);
  }
  .topics .topicsList > a:nth-child(3n) {
    margin-right: 2%;
  }
  .topics .topicsList > a:nth-child(even) {
    margin-right: 0;
  }
}

.topics .topicsList > a:hover {
  border-color: #e6e6e6;
}

.topics .topicsList > a dl {
  padding: 23.83382px 18.27259px 15.88921px;
}

@media screen and (max-width: 1210px) {
  .topics .topicsList > a dl {
    padding: 1.96974vw 1.51013vw 1.31316vw;
  }
}

@media screen and (max-width: 767px) {
  .topics .topicsList > a dl {
    padding: 3.2vw 2.16vw 2.66667vw;
  }
}

.topics .topicsList > a dt {
  position: relative;
}

.topics .topicsList > a dt:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.topics .topicsList > a dt span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.topics .topicsList > a dt span img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

.topics .topicsList > a dd {
  margin-top: 23.83382px;
}

@media screen and (max-width: 1210px) {
  .topics .topicsList > a dd {
    margin-top: 1.96974vw;
  }
}

@media screen and (max-width: 767px) {
  .topics .topicsList > a dd {
    margin-top: 3.46667vw;
  }
}

.topics .topicsList > a dd p {
  font-size: 2.4rem;
  line-height: 1.70833;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .topics .topicsList > a dd p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.topics .topicsList > a dd small {
  display: block;
  margin-top: 3.9723px;
  color: #a7a7a7;
  font-size: 1.8rem;
  line-height: 1.72222;
}

@media screen and (max-width: 1210px) {
  .topics .topicsList > a dd small {
    margin-top: 0.32829vw;
  }
}

@media screen and (max-width: 767px) {
  .topics .topicsList > a dd small {
    margin-top: 1.33333vw;
    font-size: 1.1rem;
  }
}

.topics .topicsList > a:hover dd p {
  text-decoration: underline;
}

.btnWrap {
  text-align: center;
}

.btnWrap a {
  display: inline-block;
  transition: 0.3s;
}

.btnWrap a:hover {
  opacity: 0.7;
}

.library .btnWrap a {
  width: 758.70991px;
}

@media screen and (max-width: 1210px) {
  .library .btnWrap a {
    width: 62.7033vw;
  }
}

@media screen and (max-width: 767px) {
  .library .btnWrap a {
    width: 69.86667vw;
  }
}

.btnInq {
  text-align: center;
}

.btnInq a {
  display: inline-block;
  background-color: #ca2764;
  padding: 47.66764px 74.6793px 47.66764px 95.33528px;
  color: #fff;
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 1.70455;
  border-radius: 23.83382px;
  transition: 0.3s;
}

.btnInq a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1210px) {
  .btnInq a {
    padding: 3.93947vw 6.17184vw 3.93947vw 7.87895vw;
    border-radius: 1.96974vw;
  }
}

@media screen and (max-width: 767px) {
  .btnInq a {
    padding: 7.2vw 8vw 4.26667vw;
    font-size: 2.0rem;
    line-height: 1.7;
    border-radius: 4.53333vw;
  }
}

.btnInq a span {
  display: inline-block;
  background: url(../images/arw_r.png) right center no-repeat;
  background-size: 33.36735px 54.02332px;
  width: 508.45481px;
  padding-right: 39.72303px;
  text-align: left;
  box-sizing: border-box;
}

@media screen and (max-width: 1210px) {
  .btnInq a span {
    background-size: 2.75763vw 4.46474vw;
    width: 42.02106vw;
    padding-right: 3.2829vw;
  }
}

@media screen and (max-width: 767px) {
  .btnInq a span {
    background: url(../images/arw_b.png) center bottom no-repeat;
    background-size: 7.46667vw 4.8vw;
    width: auto;
    text-align: center;
    padding: 0 0 8vw;
  }
}

/*--------------------------------------
 要素
---------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
}

/*--------------------------------------
 パーツ
---------------------------------------*/
.u- {
  /* インナー */
}

.u-inner {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1210px) {
  .u-inner {
    padding-left: 3.93947vw;
    padding-right: 3.93947vw;
  }
}

@media screen and (max-width: 767px) {
  .u-inner {
    padding-left: 5.33333vw;
    padding-right: 5.33333vw;
  }
}

.lBlk {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

/*-- font-size --*/
.fwB {
  font-weight: bold !important;
}

.fwN {
  font-weight: normal !important;
}

/*-- Etc --*/
.disI {
  display: inline !important;
}

.disB {
  display: block !important;
}

.disIB {
  display: inline-block !important;
}

.disT {
  display: table !important;
}

.disTC {
  display: table-cell !important;
}

.disN {
  display: none !important;
}

.disF {
  display: flex !important;
}

.taL {
  text-align: left !important;
}

.taR {
  text-align: right !important;
}

.taC {
  text-align: center !important;
}

.vaT {
  vertical-align: top !important;
}

.vaM {
  vertical-align: middle !important;
}

.vaB {
  vertical-align: bottom !important;
}

.vaTB {
  vertical-align: text-bottom !important;
}

.fltL {
  float: left !important;
}

.fltR {
  float: right !important;
}

.fltN {
  float: none !important;
}

.posS {
  position: static !important;
}

.posR {
  position: relative !important;
}

.posA {
  position: absolute !important;
}

.posF {
  position: fixed !important;
}

.brWord {
  word-wrap: break-word;
}

.waNw {
  white-space: nowrap;
}

.printDown {
  display: none;
}

.printBreak {
  display: none;
}

@media screen and (max-width: 1210px) {
  .lNone {
    display: none !important;
  }
  .lBlk {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  /*-- Width --*/
  .spWAuto {
    width: auto !important;
  }
  /*-- font-size --*/
  .spFwB {
    font-weight: bold !important;
  }
  .spFwN {
    font-weight: normal !important;
  }
  /*-- Etc --*/
  .spDisI {
    display: inline !important;
  }
  .spDisB {
    display: block !important;
  }
  .spDisIB {
    display: inline-block !important;
  }
  .spDisT {
    display: table !important;
  }
  .spDisTC {
    display: table-cell !important;
  }
  .spDisN {
    display: none !important;
  }
  .spDisF {
    display: flex !important;
  }
  .spTaL {
    text-align: left !important;
  }
  .spTaR {
    text-align: right !important;
  }
  .spTaC {
    text-align: center !important;
  }
  .spVaT {
    vertical-align: top !important;
  }
  .spVaM {
    vertical-align: middle !important;
  }
  .spVaB {
    vertical-align: bottom !important;
  }
  .spVaTB {
    vertical-align: text-bottom !important;
  }
  .spFltL {
    float: left !important;
  }
  .spFltR {
    float: right !important;
  }
  .spFltN {
    float: none !important;
  }
  .spPosS {
    position: static !important;
  }
  .spPosR {
    position: relative !important;
  }
  .spPosA {
    position: absolute !important;
  }
  .spPosF {
    position: fixed !important;
  }
}
