@charset "UTF-8";

/*--------------------------------------
  一覧ページ
---------------------------------------*/
body.archive{
	@include mq{
	}
  .pageHeader{
    margin-bottom: 80px;
    @include mq{
      margin-bottom: 50px;
    }
    h1{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: $maccha1;
      margin-bottom: 30px;
      padding: 0.6em 0.8em;
      color: $brown1;
      font-size: 40px;
      line-height: 1.2;
      position: relative;
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3) inset;
      @include mq{
        margin-left: -15px;
        margin-right: -15px;
        padding: 0.8em 0.5em 0.85em;
        font-size: 30px;
        line-height: 1.2;
      }
      &:before, &:after{
        content: "";
        display: block;
        border-top: 1px dashed #fff;
        width: 100%;
        position: absolute;
        left: 0;
      }
      &:before{
        top: 10px;
      }
      &:after{
        bottom: 10px;
      }

      > img{
        width: auto;
        height: 50px;
        @include mq{
          height: 40px;
        }
      }
      strong{
        @include mq{
        }
      }
    }
    .description{
      font-size: 24px;
      text-align: center;
      @include mq{
        font-size: 18px;
      }
    }
  }
	&.category{/* 分類 */
	}
	&.tag{/* 札 */
	}
	&.date{/* 日付 */
	}
}


