@charset "UTF-8";

/*--------------------------------------
  トップページ
---------------------------------------*/
body.home{	
	@include mq{
    font-size: 16px;
	}
  .excerpt.typesquare_tags {
    font-size: 18px;
  }
  .u-ttl2 {
    margin-top: 0;
  }



}


